html {
  scroll-behavior: smooth;
}

body {
  background: #EFEFEF;
  color: #A9A9A9;
  font-family: 'Golos Text', sans-serif;
}

footer {
  position: absolute;
  text-align: center;
  margin: auto;
  color: #A9A9A9;
  left: 35%;
  right: 35%;
  font-size: smaller;
}

#about {
  float: left;
  margin-left: 5%;
  font-size: 1.8rem;
}

#skills {
  float: left
}

#background {
  margin-bottom: 10%;
  width: 100%;
  height: 50rem;
}

#projects {
  text-align: center;
  margin-bottom: 20rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  flex: 3;
  justify-content: space-between; 
}

.clearfloat {
  float: none;
  margin-bottom: 10%;
}



.project {
  position: relative;
  margin: 1em;
  text-align: left;
  border-color: #d6d6d6;
  border-style: solid;
  border-width: 10px;
  padding: 3%;
  border-radius: 20px;
  flex: 18%;
}

.project img {
  object-fit: cover;
  width: 100%;
  /* width: 100%; */
  border-radius: 10px;
  border-width: 5px;
  border-color: #9ab5bb;
  border-style: solid;
  aspect-ratio: 1.1;
}


#contact {
  display: inline-block\;
}
.contact-button {
  display: inline;
  text-decoration: none;
  color: #A9A9A9;
  margin: 10px;
}

#welcome {
  right: 0;
  left: 0;
  bottom:0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #A9A9A9;
  font-weight: 300;
  z-index: 999;
  position: relative;
  top: 15rem;
}

.heading-intro {
  line-height: normal;
  position: relative;
  align-self: center;
  justify-self: center;
  color: #A9A9A9;
  font-size: 6rem;
  font-weight: 300;
  width: fit-content;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.heading-name {
  top: 15rem;
  font-size: 6rem;
  color: #FF3B3F;
  font-weight: 400;
}

.title {
  font-size: 4.5rem;
  font-weight: 400;
  text-align: center;
}

#view-more {
  margin-top: 10px;
  color: #FF3B3F;
  text-decoration: none;
  border-radius: 50%;
  padding: 10px;
  border-style:solid;
  border-width: 1px;
  border-radius: 5%;
  border-color: #FF3B3F;

}

.heading-second {
  position: relative;
  font-size: 1.5rem;
  font-weight: 100;
}

#contact {
  text-align: center;
  justify-content: center;
  position: relative;
}

.contact-form {
  position: relative;
  text-align:center;
  justify-content: center;
  margin-bottom: 5%;
}

.contact-field {
  margin: 15px;
  justify-content: left;
}

.learn-more:link {
  color: #FF3B3F;
  text-decoration: none;
}

.learn-more:visited {
  color: #9ab5bb;
  text-decoration: none; 
}

.break {
  position: absolute;
  display: flex;
  align-items: center;
  left: 19%;
  right: 19%;
  width: 60%;
  height: 5px;
  background-color: #CAEBF2;
}

.info {
  display: inline-block;
  width: 40%;
  position: relative;
  padding: 3%;
}

.technologies {
  color: #FF3B3F;
}

.project-name {
  font-size: 2rem;
}

.contact-icon {
  height: 1.6rem;
  width: 1.6rem;
  margin: 3%;
}

.red-text {
  color: #FF3B3F;
}

/* #name {
  border-radius: 0px;
} */

input {
  border-color: transparent;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
}

#message {
  border-color: transparent;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
  resize: none;
}

.form-label {
  text-align: left;
  
}

.message-label {
  top: -1.5rem;
  position: relative;
}

.send-button {
  margin-top: 10px;
  color: #FF3B3F;
  text-decoration: none;
  border-radius: 50%;
  padding: 10px;
  border-style:solid;
  border-width: 1px;
  border-radius: 5%;
  border-color: #FF3B3F;
  width: 6rem;
}
.send-button:hover {
  margin-top: 10px;
  background-color: #FF3B3F;
  color: #ebebeb;
  text-decoration: none;
  border-radius: 50%;
  padding: 10px;
  border-style:solid;
  border-width: 1px;
  border-radius: 5%;
  width: 6rem;
}




.skill {
  float: left;
  width: 40%;
  margin: 1em;
  text-align: left;
  font-size: 1.4rem;
  position: relative;
  top: 0%;
}

.skill h2 {
  font-weight: bold;
}

.skill li {
  list-style: none;
  padding: 0;
  margin-bottom: 0.5em;
}

h3 {
  color: #9ab5bb;
  font-size: 1.45rem;
}